<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>PBB SİGORTA - Sigorta Şirketi</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Construction Company Website Template" name="keywords">
    <meta content="Construction Company Website Template" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <link href="~/Content/css/style.css" rel="stylesheet" />
    <!-- Template Stylesheet -->
</head>
<body>
    <div class="wrapper">


        <!-- Top Bar Start -->
        <div class="top-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-12">
                        <div class="logo">
                            <a href="/">
                                <h1>Pınar Bayraktar Bilgin</h1>
                                <h2>          </h2>
                                <h3>Sigorta Aracılık Hizmetleri</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-7 d-none d-lg-block">
                        <div class="row">
                            <div class="col-4">
                                <div class="top-bar-item" style=" margin-right: -119px; ">
                                    <div class="top-bar-icon">
                                        <i class="flaticon-calendar"></i>
                                    </div>
                                    <div class="top-bar-text">
                                        <h3>                 </h3>
                                        <h3>Çalışma saatleri</h3>
                                        <p>Hafta İçi 8:30 - 18:30</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="top-bar-item">
                                    <div class="top-bar-icon">
                                        <i class="flaticon-call"></i>
                                    </div>
                                    <div class="top-bar-text">
                                        <h3>               </h3>
                                        <h3>Bizi Arayın</h3>
                                        <p>0362 230 51 00</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="top-bar-item">
                                    <div class="top-bar-icon">
                                        <i class="flaticon-send-mail"></i>
                                    </div>
                                    <div class="top-bar-text">
                                        <h3>               </h3>
                                        <h3>Email </h3>
                                        <p>pinarbayraktarbilgin@hotmail.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Bar End -->
        <!-- Nav Bar Start -->
        <div style=" background-color: #3e749f; " class="nav-bar">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                    <a href="#" class="navbar-brand"></a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto">
                            <a href="/" class="nav-item nav-link">ANASAYFA</a>
                            <a href="/Home/Services" class="nav-item nav-link">HİZMETLERİMİZ</a>
                            <a href="/Home/About" class="nav-item nav-link active">HAKKIMIZDA</a>
                            <a href="/Home/Contact" class="nav-item nav-link">İLETİŞİM</a>

                        </div>
                        <div class="ml-auto">
                            <form action="/Home/Search" method="get">
                                <button class="btn" type="submit">Arama</button>
                                <input type="text"  name="term" value="" />
                            </form>
                        </div>
                       

                    </div>
                </nav>
            </div>
        </div>
        <!-- Nav Bar End -->
        @RenderBody()

    </div>
    <!-- Footer Start -->
    <div class="footer wow fadeIn" data-wow-delay="0.3s">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="footer-contact">
                        <h2>Ofis İletişim</h2>
                        <p><i class="fa fa-map-marker-alt"></i>Bahçelievler Mahallesi 100.yıl Bulvarı no:275 Huzur Sitesi A2 Blok İLKADIM/SAMSUN </p>
                        <p><i class="fa fa-phone-alt"></i>0362 230 51 00</p>
                        <p><i class="fa fa-envelope"></i>pinarbayraktarbilgin@hotmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

    <script src="~/Content/js/navbarCampaign.js"></script>

    <!-- Template Javascript -->
</body>
</html>
