
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Hakkımızda</h2>
            </div>
        </div>
    </div>
</div>
<div class="about wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6">
                <div class="about-img">

                    <img src="~/img/dukkan.resim.jpeg" />
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="section-header text-left">
                    <p>Welcome to Builderz</p>
                    <h2></h2>
                </div>
                <div class="about-text">
                    <p>
                        2016 yılında pınar bayraktar bilgin tarafından kurulan, Türkiye'nin güvenilir ve müşteri canlısı olan sigorta aracılık hizmetleri pbb sigorta, müşteri ihtiyaçlarını en iyi şekilde karşılayabilecek yolda hizmet vermektedir. Firmamızın kurucusu pınar bayraktar bilgin 1998-2016 yılları arasında bir markanın otomobil bayiliğinde sigorta departmanında sigorta danışmanı yetkilisi olarak görev yapmıştır.
                    </p>
                    <p>
                        Pbb sigorta, Kasko, Trafik sigortası, sağlık sigortası, konut sigortası, işyeri sigortası, DASK vb. ihtiyaçlarında müşterilerine en uygun teklifleri sunarak satış sürecinde müşterilerine danışmanlık hizmeti vermektedir. Firmamız değişen ve yenilen global dünyada ürün ve hizmetlerini deneyim ve tecrübelerinden faydalanarak her geçen gün genişletmekte ve yolunda emin adımlarla ilerlemektedir.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="faqs">
    <div class="container">
        <div class="section-header text-center">
            <h2>Sıkça Sorulan Sorular</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div id="accordion-1">
                    <div class="card wow fadeInLeft" data-wow-delay="0.1s">
                        <div class="card-header">
                            <a class="card-link collapsed" data-toggle="collapse" href="#collapseOne">
                                -	Neden ferdi kaza sigortası yaptırmalıyım?
                            </a>
                        </div>
                        <div id="collapseOne" class="collapse" data-parent="#accordion-1">
                            <div class="card-body">
                                Günlük yaşantımızda her an başımıza gelebilecek beklenmedik kazalara karşı maddi güvence sağlayan bir sigorta poliçesidir. Ferdi kaza sigortası ile kendimizi hatta dolaylı olarak ailemizi güvence altına almış oluruz.
                            </div>
                        </div>
                    </div>
                    <div class="card wow fadeInLeft" data-wow-delay="0.2s">
                        <div class="card-header">
                            <a class="card-link collapsed" data-toggle="collapse" href="#collapseTwo">
                                -	Konut sigortası hasarın ne kadarını karşılar?
                            </a>
                        </div>
                        <div id="collapseTwo" class="collapse" data-parent="#accordion-1">
                            <div class="card-body">
                                Konutunuzda bir hasar meydana gelmesi halinde sigorta poliçenizde belirlenen teminatlar ve teminat limitleri kapsamında hasarınız karşılanır.

                            </div>
                        </div>
                    </div>
                    <div class="card wow fadeInLeft" data-wow-delay="0.3s">
                        <div class="card-header">
                            <a class="card-link collapsed" data-toggle="collapse" href="#collapseThree">
                                -	DASK neden gereklidir?
                            </a>
                        </div>
                        <div id="collapseThree" class="collapse" data-parent="#accordion-1">
                            <div class="card-body">
                                DASK, deprem kuşağında yer alan Türkiye’deki tüm konutları, deprem ve depremin neden olabileceği hasarlara karşı güvence altına alan bir sigortadır. Konut sahiplerinin tamamına zorunlu tutulan DASK sigortası, sigortalılara maddi güvence sağlar.

                            </div>
                        </div>
                    </div>
                    <div class="card wow fadeInLeft" data-wow-delay="0.4s">
                        <div class="card-header">
                            <a class="card-link collapsed" data-toggle="collapse" href="#collapseFour">
                                -	Neden konut sigortası yaptırmalısınız?
                            </a>
                        </div>
                        <div id="collapseFour" class="collapse" data-parent="#accordion-1">
                            <div class="card-body">
                                Konut sigortası, evinizi hırsızlık ve doğal afetlere karşı güvence altına alır. Aynı zamanda hasar sebebiyle karşılaştığınız masraflar da konut sigortasının teminatları arasındadır. Konut sigortası yaptırarak öngöremediğiniz riskler sonucu oluşan maddi kayıplarınızı en aza indirebilirsiniz

                            </div>
                        </div>
                    </div>
                    <div class="card wow fadeInLeft" data-wow-delay="0.5s">
                        <div class="card-header">
                            <a class="card-link collapsed" data-toggle="collapse" href="#collapseFive">
                                -	Trafik sigortası neleri kapsar?
                            </a>
                        </div>
                        <div id="collapseFive" class="collapse" data-parent="#accordion-1">
                            <div class="card-body">
                                Zorunlu trafik sigortası;
                                1.	Trafik kazası sonucu karşı tarafın gördüğü hasarları,
                                2.	Üçüncü şahısların mallarına verilen zararları,
                                3.	Kamu varlıklarına kasti olmadan verilen zararları,
                                4.	Üçüncü şahıslara verilen bedensel hasarları,
                                5.	Hukuki süreçlerin masraflarını kapsar.

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div id="accordion-2">
                    <div class="card wow fadeInRight" data-wow-delay="0.1s">
                        <div class="card-header">
                            <a class="card-link collapsed" data-toggle="collapse" href="#collapseSix">
                                -	Trafik sigortası bitiş tarihi nasıl öğrenilir?
                            </a>
                        </div>
                        <div id="collapseSix" class="collapse" data-parent="#accordion-2">
                            <div class="card-body">
                                Trafik sigortasının bitiş tarihini öğrenmek için e-Devlet üzerinden trafik sigortası sorgulama yapılmalıdır. “Trafik Poliçe ve Hasar Bilgileri Sorgulama” menüsünden trafik sigortası poliçenizle ilgili tüm detaylara ulaşabilirsiniz.
                            </div>
                        </div>
                    </div>
                    <div class="card wow fadeInRight" data-wow-delay="0.2s">
                        <div class="card-header">
                            <a class="card-link collapsed" data-toggle="collapse" href="#collapseSeven">
                                -	Aracımı sattım, yen, alıcıya trafik sigorta poliçem devir olabilir mi?
                            </a>
                        </div>
                        <div id="collapseSeven" class="collapse" data-parent="#accordion-2">
                            <div class="card-body">
                                Trafik poliçelerinde araç satışı olduğu zaman poliçe yeni alıcıya geçmez. Araç sahibi mevcut poliçesini iptal ettirir ve kalan gün kadar prim iadesini alır. Yeni alıcı kendi adına aracın tescil tarihine göre yeni bir poliçe tanzim ettirir.
                            </div>
                        </div>
                    </div>
                    <div class="card wow fadeInRight" data-wow-delay="0.3s">
                        <div class="card-header">
                            <a class="card-link collapsed" data-toggle="collapse" href="#collapseEight">
                                -	Neden seyahat sağlık sigortası yaptırmalıyım?
                            </a>
                        </div>
                        <div id="collapseEight" class="collapse" data-parent="#accordion-2">
                            <div class="card-body">
                                Seyahat Sigortası, sigortalı olan kişinin yurtiçi veya yurtdışı seyahati esnasında herhangi bir kaza, sakatlanma, sağlık sorunları, bagaj kaybı gibi risklerini belirlemiş olduğu zaman dilimi içinde seçilmiş limitler kapsamı altına alan bir sigorta poliçesi olup, huzurlu bir seyahat için güvence sağlar.
                            </div>
                        </div>
                    </div>
                    <div class="card wow fadeInRight" data-wow-delay="0.4s">
                        <div class="card-header">
                            <a class="card-link collapsed" data-toggle="collapse" href="#collapseNine">
                                -	Ferdi kaza sigortalarında yaş sınırı var mı?
                            </a>
                        </div>
                        <div id="collapseNine" class="collapse" data-parent="#accordion-2">
                            <div class="card-body">
                                Evet yaş sınırı vardır. 18 yaşından büyük 65 yaşından küçük olan kişiler Ferdi Kaza Sigortası yaptırabilirler.
                            </div>
                        </div>
                    </div>
                    <div class="card wow fadeInRight" data-wow-delay="0.5s">
                        <div class="card-header">
                            <a class="card-link collapsed" data-toggle="collapse" href="#collapseTen">
                                -	Kimler hayat sigortası yaptırabilir
                            </a>
                        </div>
                        <div id="collapseTen" class="collapse" data-parent="#accordion-2">
                            <div class="card-body">
                                •	Sigorta ettiren, ölüm veya hayatta kalma ihtimallerine karşı kendisinin veya başkasının hayatını, sigorta ettirebilir. Başkasının hayatı üzerine sigorta yapılabilmesi için, o kişinin hayatının devamında lehtarın menfaatinin bulunması şarttır.
                                •	Menfaat şartının sözleşmenin yapılmasından sonra ortadan kalkması hâlinde sözleşme o andan itibaren geçersiz hâle gelir; ancak, sigorta ettirene erken ayrılma değeri ödenir.

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
