@model List<Sigortaci.Models.Message>
@{
    ViewBag.Title = "ListMessage";
}

<div class="container">
    <h2>Gelen Mesajlar</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Başlık</th>
                <th>Konu</th>
                <th>-</th>
                <th>-</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model != null && Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Subject</td>
                            <td><a href="/Home/GetMessage/@item.Id">Oku</a> </td>
                            <td><a href="/Home/DeleteMessage/@item.Id">Sil</a> </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>
